@import "../../pages/LandingPage/LandingPage";

.card-container{
  background: white;
  position: relative;
  border-radius: 3px;
  width: 274px;
  margin-bottom: 35px;
}

.card-container:hover{
  box-shadow: 0 2px 30px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card-sub-container{
  padding: 0px 16px 16px 16px;
}

.card-image{
  width: 100%;
}

.shadow{
  width: 100%;
  height: 1px;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
}

//image container

.card-image-container{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.card-image-text-container{
  text-transform: uppercase;
  opacity: 0.4;
  background-color: #000000;
  color: #ffffff;
  font-size: 12px;
  left: 13px;
  position: absolute;
  top: 13px;
  letter-spacing: 1.7px;
  padding: 3px 6px 3px 6px;
  border-radius: 3px;
}


//Course Name Container
.card-coursename-container{
  height: 50px;
  padding-bottom: 8px;
  padding-top: 10px;
  font-size: 17px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.53;
  letter-spacing: 0.2px;
  color: #1f2a55;
}

// Skill Container

.card-skill-container{
  @extend %flex-wrapper;
  padding:15px 11px 8px 11px;
}

.card-skill-text-container{
  width: inherit;
  background-color: #d3fff7;
  border-radius: 3px;
  padding: 0px 8px 0px 8px;
  margin-right: 1.6%;
}

.card-skill-coin-container{
  @extend %flex-wrapper;
  @extend %align-items-center;
  background-color: #fff4d6;
  padding: 4px 8px 4px 8px;
  border-radius: 3px;
}

.card-coin-text{
  color: #f4bf1a;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.card-coin-container{
  @extend %flex-wrapper;
  padding:0px 11px 11px 11px;
}

.card-skill-text{
  font-size: 12px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 2;
  letter-spacing: 0.2px;
  color: #32ceaf;
}

.card-skill-icon{
  width: 15px;
  margin-left: 2px;
  margin-right: 15px;
}

.card-coin-icon{
  width: 20px;
  height: 20px;
  margin-right: 13px;
}

//Grades

.card-grades-container{
  @extend %flex-wrapper;
  @extend %justify-content-space-between;
  padding:13px 13px 13px 18px;
}
.grade-image-wrapper{
  @extend %flex-wrapper;
}
.card-grades-sub-wrapper{
  text-align: center;
  font-weight: 800;
}
.card-grades-icon{
  margin-right:5px;
}

.card-grades-text{
  @extend %flex-wrapper;
  font-size: 12px;
  margin-bottom: 4px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.2px;
  color: #777b8c;
}

.card-grades-sub-text{
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: #1f2a55;
}

//Info container

.card-info-container{
  padding:18px 11px 7px 12px;
}

.card-info-sub-container{
  @extend %flex-wrapper;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: #1f2a55;
}

.card-calendar-icon{
  margin-right: 20px;
}

.card-date-icon{
  margin-right:23px;
  margin-left: 2px;
}


// AMOUNT

.card-amount-container{
  @extend %flex-wrapper;
  @extend %justify-content-space-between;
  padding:18px 11px 4px 11px;
  font-size: 14px;
  color: white;
}

.card-amount{
  letter-spacing: 0.2px;
  color: #1f2a55;
  line-height: normal;
  font-stretch: normal;
  font-weight: 600;
}

.card-amount-button{
  width: 72px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  letter-spacing: 2px;
  color: #076fec;
}