@import "../../pages/LandingPage/LandingPage";

.course-card-container{
  width: 209px!important;
  height: 228px;
  background: white;
  border-radius: 3px;
  margin-left: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.course-card-container:hover{
  box-shadow: 0 2px 30px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.course-card-image-container{
  @extend %flex-wrapper;
  @extend %justify-content-center;
  padding: 24px 50px 20px 50px;
}

.course-card-text{
  @extend %flex-wrapper;
  @extend %justify-content-center;
  text-align: center;
  font-size: 20px;
  padding: 0px 24px 0 24px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  justify-content: center;
  color: #1f2a55;
}

